<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/header") %>
        <title>New Book</title>
</head>

<body>
    <div class="container p-4">
        <form class="card card-body">
            <div class="mb-3 form-group">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter New Title" autofocus required>
            </div>
            <div class="mb-3 form-group">
                <label for="autor" class="form-label">Autor</label>
                <input type="text" class="form-control" id="autor" placeholder="Enter New Autor" required>
            </div>
            <div class="mb-3 form-group">
                <label for="imagen" class="form-label">Imagen</label>
                <input type="text" class="form-control" id="imagen" placeholder="Enter New Imagen Url" required>
            </div>
            <div class="mb-3 form-group">
                <label for="descripcion" class="form-label">Description</label>
                <textarea class="form-control" id="descripcion" placeholder="Enter Description" required cols="30"
                    rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>